<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>simulatedsales</name>
	<displayName><![CDATA[Simulated Sales]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Modulo que genera pop up con ventas simuladas]]></description>
	<author><![CDATA[Santiago Plastine]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
